.home-background {
    background: url(../../assets/pizza.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    color: white;
}

.item-verde {
    background-color:#089126;
}